<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    
    
    <script type="text/template" id="bt" class>
        
        <div class="fl w-100 pa2 yellow "> <span class="f4 f2-m f1-l">Hash</span></br> <p class="mw9 truncate f7 f5-m f4-l"><%= hash %> </p></div>
        
        <article class="fl w-100 w-third-ns pa2 bg-mid-gray pointer grow">
          <h1 class="f4 bg-near-black white mv0 pv2 ph3">Transactions> </h1>
          <div class="pa3 bt">
            <p class="f7 f5-m f4-l measure mv0">
              <%= transactions.length %>
            </p>
          </div>
        </article>
        
        <article class="fl w-100 w-third-ns pa2 bg-moon-gray">
          <h1 class="f4 bg-near-black white mv0 pv2 ph3">Number></h1>
          <div class="pa3 bt">
            <p class="f7 f5-m f4-l measure mv0">
              <%= number %>
            </p>
          </div>
        </article>
        
        
        <article class="fl w-100 w-third-ns pa2 bg-light-gray ">
          <h1 class="f4 bg-near-black white mv0 pv2 ph3">Size></h1>
          <div class="pa3 bt">
            <p class="f7 f5-m f4-l measure mv0">
              <%= size %>
            </p>
          </div>
        </article>
           
    </script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="./node_modules/web3/dist/web3.min.js"></script>
    <script src="./node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules//backbone/backbone-min.js"></script>
    <script src="./explorer.js"></script>
    
</head>
<body class="bg-green black-70 avenir">        
        <form id ="search"class="pa3 black-80">
          <div class="measure">
            <label for="name" class="f6 b db mb2">Search</label>
            <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
            <small id="name-desc" class="f6 black-60 db mb2">Block number, Address or Txn hash.</small>
          </div>
        </form>
        
        <div class="mw9 center ph3-ns pa3">
                <div id="apphook" class="cf ph2-ns"></div>
        </div>
        
</body>
</html>