<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    
    
    <script type="text/template" id="bt" class>
        
        <div class="fl w-100 b---blue bw1 b--solid br3 bg-near-black pa3">
        <div class="fl w-100 yellow"> <span class="f5 f4-m f3-l b">Block</span></br> <p class="mw9 truncate f6 f4-m f3-l"><%= hash %> </p></div>
        
            <small id="name-desc" class="f6 db mb2 yellow"><%= timestamp %></small>
            
            <article class="fl w-100 w-third-ns pa3 bg-near-black pointer dim red" id="txns">
              <h1 class="f3-l f4-m f5 white mv0 pv2 ph3">Transactions</h1>
              <div class="pa3 bt">
                <p class="f3-l f4-m f5 measure mv0 red">
                  <%= transactions.length %>
                </p>
              </div>
            </article>
        
            <article class="fl w-100 w-third-ns pa3 bg-near-black green">
              <h1 class="f3-l f4-m f5  white mv0 pv2 ph3">Number</h1>
              <div class="pa3 bt">
                <p class="f3-l f4-m f5 measure mv0 green">
                  <%= number %>
                </p>
              </div>
            </article>
        
        
            <article class="fl f2-m w-100 w-third-ns pa3 bg-near-black blue">
              <h1 class="f3-l f4-m f5  white mv0 pv2 ph3">Size</h1>
              <div class="pa3 bt">
                <p class="f3-l f4-m f5 measure mv0 blue">
                  <%= size %>
                </p>
              </div>
            </article>
        </div>
           
    </script>
    
    <script type="text/template" id="trans-table">
    <div class="pa2">
      <div class="overflow-auto">
          
        <table class="f5-l f6-m f7 w-100 mw8 center bg-light-gray" cellspacing="0">
          <thead>
            <tr>
              <th class="fw6 tl pa3 bg-white">Sender</th>
              <th class="fw6 tl pa3 bg-white"></th>
              <th class="fw6 tl pa3 bg-white">Recipient</th>
              <th class="fw6 tl pa3 bg-white">Amount</th>
            </tr>
          </thead>
          <tbody class="lh-copy">
          </tbody>
        </table>
        </div>
     </div>
 
    </script>
    
    <script type="text/template" id="trans-row">
        <tr class="stripe-dark transaction-row pointer dim" data-index="<%= indexVal %>">
          <td class="pa3"> <%= from %></td>
          <td class="pa3"> → </td>
          <td class="pa3"> <%= to %></td>
          <td class="pa3"> <%= eth %> ETH</td>
        </tr>
    </script>
    
    <script type="text/template" id="txn-template">
        
        <div class="fl w-100 b---blue bw1 b--solid br3 bg-near-black pa3">
        <div class="fl w-100 yellow"> <span class="f5 f4-m f3-l b">Transaction</span></br> <p class="mw9 truncate f6 f4-m f3-l"><%= hash %> </p></div>
        
            <small id="name-desc" class="f6 db mb2 yellow">Index: <%= transactionIndex %></small>
            
            <article class="fl w-100 w-third-ns pa3 bg-near-black pointer dim red" id="txns">
              <h1 class="f3-l f4-m f5 white mv0 pv2 ph3">Sender> </h1>
              <div class="pa3 bt">
                <p class="f7 f6-m f5-l measure mv0 red">
                  <%= from %>
                </p>
              </div>
            </article>
        
            <article class="fl w-100 w-third-ns pa3 bg-near-black orange pointer dim">
              <h1 class="f3-l f4-m f5  white mv0 pv2 ph3">Recipient</h1>
              <div class="pa3 bt">
                <p class="f7 f6-m f5-l measure mv0 green">
                  <%= to %>
                </p>
              </div>
            </article>
        
        
            <article class="fl f2-m w-100 w-third-ns pa3 bg-near-black dark-yellow">
              <h1 class="f3-l f4-m f5  white mv0 pv2 ph3">Amount</h1>
              <div class="pa3 bt">
                <p class="f3-l f4-m f5 measure mv0 blue">
                  <%= value %>
                </p>
              </div>
            </article>
    
            <article class="fl f2-m w-100 w-third-ns pa3 bg-near-black blue pointer dim">
              <h1 class="f3-l f4-m f5  white mv0 pv2 ph3">Blocknumber</h1>
              <div class="pa3 bt">
                <p class="f3-l f4-m f5 measure mv0 blue">
                  <%= blockNumber %>
                </p>
              </div>
            </article>
            
            <article class="fl f2-m w-100 w-third-ns pa3 bg-near-black blue">
              <h1 class="f3-l f4-m f5  white mv0 pv2 ph3">Gas Price / Gas</h1>
              <div class="pa3 bt">
                <p class="f3-l f4-m f5 measure mv0 blue">
                  <%= gasPrice %> / <%= gas%>
                </p>
              </div>
            </article>
            
            <article class="fl f2-m w-100 w-third-ns pa3 bg-near-black blue">
              <h1 class="f3-l f4-m f5  white mv0 pv2 ph3">Input</h1>
              <div class="pa3 bt">
                <p class="f3-l f4-m f5 measure mv0 blue">
                  <%= input %>
                </p>
              </div>
            </article>
        </div>

    </script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="./node_modules/web3/dist/web3.min.js"></script>
    <script src="./node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules//backbone/backbone-min.js"></script>
    <script src="./explorer.js"></script>
    
</head>
<body class="bg-moon-gray black-70 avenir">        
        <form id ="search"class="pa3 black-80">
          <div class="measure">
            <label for="name" class="f6 b db mb2">Search</label>
            <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
            <small id="name-desc" class="f6 black-60 db mb2">Block number, Address or Txn hash.</small>
          </div>
        </form>
        
        <div class="mw9 center ph3-ns pa3">
                <div id="apphook" class="cf ph2-ns"></div>
        </div>
        
</body>
</html>