<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    
    
    <script type="text/template" id="bt" class>
        
        <div class="fl w-100 pa2 yellow"> <span class="f4 f2-m f1-l">Hash</span></br> <p class="mw9 truncate f7 f5-m f4-l"><%= hash %> </p></div>
        <div class="fl w-100 w-third-ns pa2 b--silver bw1 b--solid br3 grow"> <h4 id="txns"class="f5 f4-m f3-l dark-green">Txns</br> <%= transactions.length %> </h4></div>        
        
        <div class="fl w-100 w-third-ns pa2 b--silver bw1 b--solid br3"> <h4 class="f5 f4-m f3-l dark-green">Number</br> <%= number %> </h4></div>
        <div class="fl w-100 w-third-ns pa2 b--silver bw1 b--solid br3"> <h4 class="f5 f4-m f3-l dark-green">Size</br> <%= size %> </h4></div>      
    </script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="./node_modules/web3/dist/web3.min.js"></script>
    <script src="./node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules//backbone/backbone-min.js"></script>
    <script src="./explorer.js"></script>
    
</head>
<body class="bg-green black-70 pa4 avenir">

        <h1 class="f1">BLOCK EXPLORER</h1>
        
        <div class="center ph3-ns">
                <div id="apphook" class="cf ph2-ns"></div>
        </div>
        
</body>
</html>